<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.app.mytrainer">

    <!-- START USER PERMISSION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTrainer"
        tools:ignore="AllowBackup">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="it.app.mytrainer"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- START MAIN AND LAUNCHER ACTIVITY -->
        <activity
            android:name=".ui.activities.starter.ActivityMain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- END MAIN AND LAUNCHER ACTIVITY -->
        <!-- START OF LOGIN ACTIVITY -->
        <activity
            android:name=".ui.activities.starter.ActivityLogin"
            android:screenOrientation="portrait" /> <!-- END OF LOGIN ACTIVITY -->
        <!-- START FOR FACEBOOK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- END FOR FACEBOOK -->
        <!-- START OF HOME ACTIVITY ATHLETE -->
        <activity
            android:name=".ui.activities.home.ActivityHomeAthlete"
            android:screenOrientation="portrait" /> <!-- START OF HOME SCHEDULE ATHLETE -->
        <activity
            android:name=".ui.activities.home.schedule.athlete.ActivityScheduleViewAthlete"
            android:screenOrientation="portrait" /> <!-- END OF HOME SCHEDULE ATHLETE -->
        <!-- END OF HOME ACTIVITY ATHLETE -->
        <!-- START OF HOME ACTIVITY TRAINER -->
        <activity
            android:name=".ui.activities.home.ActivityHomeTrainer"
            android:screenOrientation="portrait" /> <!-- END OF HOME ACTIVITY TRAINER -->
        <activity
            android:name=".ui.activities.home.schedule.trainer.ActivitySearchExercise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.home.schedule.trainer.ActivityViewDataAthlete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.home.schedule.trainer.ActivityCreationSchedule"
            android:screenOrientation="portrait" /> <!-- START OF REAUTH ACTIVITY -->
        <activity
            android:name=".ui.activities.home.ActivityReauthDeleteAccount"
            android:screenOrientation="portrait" /> <!-- END OF REAUTH ACTIVITY -->
        <!-- START OF USER CHOICE ACTIVITY -->
        <activity
            android:name=".ui.activities.registration.ActivityUserChoice"
            android:screenOrientation="portrait" /> <!-- END OF USER CHOICE ACTIVITY -->
        <!-- START OF REGISTRATION ACTIVITY TRAINER -->
        <activity
            android:name=".ui.activities.registration.ActivityRegistrationTrainer"
            android:screenOrientation="portrait" /> <!-- END OF REGISTRATION ACTIVITY TRAINER -->
        <!-- START OF REGISTRATION ACTIVITY ATHLETE -->
        <activity
            android:name=".ui.activities.registration.ActivityRegistrationAthlete"
            android:screenOrientation="portrait" />
    </application>

</manifest>